@page "/dishes"
@attribute [StreamRendering(true)]

@inject DishesApiClient DishesApi

<PageTitle>Dishes</PageTitle>

<h1>Dishes</h1>

<p>This component demonstrates showing data.</p>

@{
    int count = 0;
}

@if (dishes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in dishes)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@dish.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DishDto[]? dishes;

    protected override async Task OnInitializedAsync()
    {
        dishes = await DishesApi.GetDishesAsync();
    }

}
